{% extends 'layout.html' %}
{% block content %}
<h3 align="center">
{{title}}
</h3>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	  <strong>{{messages}}</strong> 
	</div>	
	<script>
	  $(".alert").alert();
	</script>
	{% endif %}
{% endwith %}
<div class="container" align="center">    
    <form class="form-inline md-form mr-auto mb-4" method="POST" action="/search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search" name="search">
        <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <div align="center">                
        {% if not search%}        
        <button type="button" class="btn btn-primary">
            Person in database <span class="badge badge-light">{{count}}</span>
          </button>
        {% set prev=current-1 %}  
        {% set next=current+1 %}
        {% if current == pager[0] %}{% set prev=current %}{% endif %}        
        {% if current == pager[-1] %} {% set next=current %}{% endif %}
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">                
                <li class="page-item">
                    <a class="page-link" href="/browse/1" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">First</span>
                    </a>
                </li>               
                <li class="page-item">
                    <a class="page-link" href="/browse/{{ prev }}" aria-label="Previous">
                      <span aria-hidden="true">&lt;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                </li>               
                {% for p in pager %}                
                    {% if p==current %}
                        <li class="page-item active"><a class="page-link" href="/browse/{{p}}">{{p}}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/browse/{{p}}">{{p}}</a></li>
                    {% endif %}
                {% endfor %}  
                <li class="page-item">
                    <a class="page-link" href="/browse/{{ next }}" aria-label="Next">
                      <span aria-hidden="true">&gt;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/browse/{{ pagenum }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Last</span>
                    </a>
                  </li>
            </ul>
        </nav>
        {% endif %}    
    </div>
    <div class="row">
        {% for d in data %}
        <div class="col-sm-2">
            <div class="card">
                <img class="card-img-top" src="data:image/jpeg;base64,{{d[2]}}" alt="Card image cap">
                <div class="card-body">                    
                    <p class="card-text">{{d[1]}}</p>
                    <a href="/delete/{{d[0]}}" class="btn btn-primary active" onclick="return confirm('Are you sure ?')">
                         Delete
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}