{% extends 'layout.html' %}
{% block content %}
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Face Recognition</h1>
        <p class="lead mb-5 text-white-50">“Biometrics, when properly used, offer greater protection on financial fraud and different types of theft (identity or data) since they are much more secure than using typical passwords and PINs.”</p>            
        <p class="mb-8 text-white-50">
          Dr. Thirimachos Bourlai<br>
          Founder & Director<br>
          West Virginia University MLAB</p>
      </div>
    </div>
  </div>
</header>
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>About this app</h2>
        <hr>
        <p>Aplikasi ini adalah front end interface yg diperuntukan semata-mata untuk keperluan riset dalam bidang machine learning terutama face recognition.</p>
        <p>Fitur yg ada dalam aplikasi ini adalah <i>face registration, face recognition test</i> dan <i>faces database browser</i> </p>
        <p>Model yg digunakan dalam face recognition adalah pretrained model dari <a href="http://dlib.net/">dlib</a>. Model ini diklaim memiliki tingkat akurasi lebih dari 99%, menggunakan lebih dari 1 juta dataset terdiri dari lebih 10000 person. </p>
        <a class="btn btn-primary btn-lg" href="/recognition">Recognition &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Face Recognition Inc.</strong>
          <br>Depok
          <br>Indonesia
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">me@depok.one</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/img/flask_logo.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Flask</h4>
            <p class="card-text">Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy, with the ability to scale up to complex applications. It began as a simple wrapper around Werkzeug and Jinja and has become one of the most popular Python web application frameworks.</p>
          </div>
          <div class="card-footer">
            <a href="https://palletsprojects.com/p/flask/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/img/Dlib_c++_library_logo.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Dlib</h4>
            <p class="card-text">Dlib is a general purpose cross-platform software library written in the programming language C++. Its design is heavily influenced by ideas from design by contract and component-based software engineering. Thus it is, first and foremost, a set of independent software components. It is open-source software released under a Boost Software License.</p>
          </div>
          <div class="card-footer">
            <a href="http://dlib.net/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/img/lfw.png" alt="">
          <div class="card-body">
            <h4 class="card-title">LFW</h4>
            <p class="card-text">Labeled Faces in the Wild is a public benchmark for face verification, also known as pair matching. No matter what the performance of an algorithm on LFW, it should not be used to conclude that an algorithm is suitable for any commercial purpose</p>
          </div>
          <div class="card-footer">
            <a href="http://vis-www.cs.umass.edu/lfw/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}
