<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Face Recognition - The Future of AI</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/css/000021bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/000035business-frontpage.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" rel="stylesheet">
  <script src="/static/js/000014jquery.min.js"></script>
  <script src="/static/js/000033bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/helper.js') }}"></script>

</head>

  <body>
    {% include 'navigation.html' %}    
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>

</html>
