<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Face Recognition</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registration">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recognition">Recognition</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stream">Live</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/browse/1">Database</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
