{% extends 'layout.html' %}
{% block content %}
<h3 align="center">{{title}}</h3>

<div class="container">
	<form method="post" action="/recognition" enctype="multipart/form-data">
		<dl>
			<p align="center">
				<input type="file" name="file" autocomplete="off" onchange="readURL(this);" required>
			</p>
			<p align="center">
				<label for="threshold">Threshold (between 0 and 1)</label>
				<input type="range" id="threshold" name="threshold" min="0" max="1" step="0.1" onchange="changeValue(this);"> 
				<span id="rangevalue">0.5</span>
			</p>
			<p align="center">
				<img id="faceimg" src="{{url_for('static',filename='placeholder2.jpg')}}" height="360px" width="360px" alt="face image" />
			</p>
		</dl>
		<p align="center">
			<input type="submit" value="Recognize!!">
		</p>
	</form>		
</form>
</div>
{% endblock %}