{% extends 'layout.html' %}
{% block content %}
<h3 align="center">{{title}}</h3>
    <div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <strong>{{messages}}</strong> 
		</div>	
		<script>
		  $(".alert").alert();
		</script>
		{% endif %}
		{% endwith %}
		<form method="post" action="/registration" enctype="multipart/form-data">
			<dl>
				<p align="center">
					<input type="file" name="file" autocomplete="off" onchange="readURL(this);" required>
				</p>
				<p align="center">
					Name: <span><input type="text" name="name" required></span>
				</p>
						<p align="center">
					<img id="faceimg" src="{{url_for('static',filename='placeholder.jpg')}}" height="360px" width="360px" alt="face image" />
						</p>
			</dl>
			<p align="center">
				<input type="submit" value="Register">
			</p>
		</form>		
	</div>
{% endblock %}
