{% extends 'layout.html' %}
{% block content %}
<h3 align="center">{{title}}</h3>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	  <strong>{{messages}}</strong> 
	</div>	
	<script>
	  $(".alert").alert();
	</script>
	{% endif %}
{% endwith %}
<div class="container">
	<img id="resultimg" src="{{url_for('static',filename='result.jpg')}}" height="100%" width="100%" alt="result image" />
</div>
{% endblock %}

