{% extends 'layout.html' %}
{% block content %}
<h3 align="center">{{title}}</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-1-6">
            <img src="{{ url_for('video_feed') }}">            
        </div>    
    </div>
</div>
<br>
{% endblock %}